{% load mptt_tags %}

<ul class="nav">

    {% recursetree menu_list %}

        <li class="{% if request.path == node.url %} active{% endif %}{% if not node.is_leaf_node %} dropdown{% endif %}">
                <a href="{{ node.url }}"{% if not node.is_leaf_node %} class="dropdown-toggle" data-toggle="dropdown"{% endif %}>
                    {{ node.name }}
                    {% if not node.is_leaf_node %}<i class="caret"></i>{% endif %}
                </a>
                {% if not node.is_leaf_node %}
                    <ul class="dropdown-menu">
                        {{ children }}
                    </ul>
                {% endif %}
            </li>
        {% if node.parent_id == parent_id %}
            <li class="divider-vertical"></li>
        {% endif %}
    {% endrecursetree %}

</ul>