{% load mptt_tags %}
{% load site_tags %}

<div class="row-fluid thumbnails">
    <div class="span1">
        <a href="#"
           data-placement='bottom'
           data-original-title='Добавить задачу'
           id="add_task"
           class="thumbnail tooltips"><img style="height: 50px" src="/static/img/task.jpg" /></a>
    </div>
    <div class="span1">
        <a href="#"
           data-placement='bottom'
           data-original-title='Добавить папку'
           class="thumbnail tooltips"><img style="height: 50px" src="/static/img/folder.jpg" /></a>
    </div>
    <div class="span1">
        <a href="#"
           data-placement='bottom'
           data-original-title='Удалить задачу или папку'
           class="thumbnail tooltips"><img style="height: 50px" src="/static/img/delete.png" /></a>
    </div>
    <div class="span1">
        <a href="#"
           data-placement='bottom'
           data-original-title='Распечатать'
           class="thumbnail tooltips"><img style="height: 50px" src="/static/img/print.png" /></a>
    </div>
    <div class="span1" style="padding-top: 5px;">
        <a href="#" class="btn btn-warning">Задача совета</a>
    </div>
    <div class="span3" style="padding-top: 14px;">
        <div class="input-append">
            <input name="date" value="{% include 'site/date.html' %}" type="text" class="date_picer span10" />
            <span class="add-on date_picer_icon"><i class="icon-calendar"></i></span>
        </div>
    </div>
</div>

<br />
<br />
<script type="text/javascript">
    var task_level = {% if level_duties > 0 %}{{ level_duties }}{% else %}0{% endif %};
    var tree_is_task = {% if is_duties_dynamic %}true{% else %}false{% endif %};
</script>
<ul class="list list_heder">
    <li>
        <div class="row-fluid">
                    <div class="span6">
                        <h4>Наименование</h4>
                    </div>
                    <div class="span1">
                    </div>
                    <div class="span2">
                        <h4>Ответственный</h4>
                    </div>
                    <div class="span1">
                        <h4 class="offset1">%</h4>
                    </div>
                    <div class="span2">
                        <h4>Сроки</h4>
                    </div>
                </div>
    </li>
</ul>
<hr>

<div class="tree_task">
    <ul class="list" id="task_list">
        {% recursetree tasks %}
            <li level='{{ node.level }}'
                id="task-{{ node.id }}"
                parent='{% if node.parent_id %}{{ node.parent_id }}{% else %}0{% endif %}'
                is_folder='{{ node.is_folder }}'>
                    <div class="icon-task">
                        {% if not node.is_leaf_node %}
                            <i class="icon-plus ui-widget-content ui-widget-header"></i>
                        {% else %}
                            <i class="icon-file ui-widget-content ui-widget-header"></i>
                        {% endif %}
                    </div>
                    <div class="row-fluid">
                        <div class="span6">
                            <div class="row-fluid">
                                <div class="span1">
                                    {% if node.parent and node.parent.is_folder == 0 %}
                                        <img style="height: 30px;"  src="/static/img/task2.jpg" />
                                    {% elif node.is_folder == 1 %}
                                        <img style="height: 30px;"  src="/static/img/folder.jpg" />
                                    {% else %}
                                        <img style="height: 30px;"  src="/static/img/task.jpg" />
                                    {% endif %}
                                </div>
                                <div class="span11">
                                    <div>{{ node.name }}</div>
                                    <div class="small muted">
                                        <span>
                                            {{ node.staff.surname }}
                                            {% if node.staff.name %}
                                                {{ node.staff.name }}.
                                            {% endif %}
                                            {% if node.staff.patronymic %}
                                                {{ node.staff.patronymic }}.
                                            {% endif %}
                                        </span>
                                        {% if node.checked %}
                                            <span> / </span>
                                            <span class="text-info">{{ node.date_checked|date:'d.m.Y' }} - {{ node.staff.surname }}
                                            {% if node.checked.name %}
                                                {{ node.checked.name }}.
                                            {% endif %}
                                            {% if node.checked.patronymic %}
                                                {{ node.checked.patronymic }}.
                                            {% endif %}</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="span1">
                            <div class="row-fluid">
                                <div class="span6">

                                </div>
                                <div class="span6">

                                </div>
                            </div>
                        </div>
                        <div class="span2">
                            {% if node.responsible %}
                                {% for res in node.responsible.all%}
                                    <div id="res-{{ res.id }}">{% get_dutu_dynamic_nodate request res.id %}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="span1">
                            {{ node.percent }} %
                        </div>
                        <div class="span2">
                            <div>{{ node.date_start|date:'d.m.Y' }}</div>
                            <div class="{% if date > node.date_end %}text-error{% else %}text-success{% endif %}">
                                {{ node.date_end|date:'d.m.Y' }}
                            </div>
                        </div>
                    </div>
                    <hr>
                    {% if not node.is_leaf_node %}
                    <ul>
                        {{ children }}
                    </ul>
                {% endif %}
            </li>
        {% endrecursetree %}
    </ul>
</div>
