<!DOCTYPE html>
<html lang="en">
<head>
    <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <title>{% block title %}{% endblock %}</title>
    <meta name="keywords" content="{% block keywords %}{% endblock %}" />
    <meta name="description" content="{% block description %}{% endblock %}" />
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/bootstrap/css/bootstrap-lightbox.min.css" rel="stylesheet" media="screen">
    <link href="/static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="/static/bootstrap/css/bootstrap-notify.css" rel="stylesheet" media="screen">
    <link href="/static/bootstrap/css/styles/alert-notification-animations.css" rel="stylesheet" media="screen">
    <link href="/static/bootstrap/css/styles/alert-bangtidy.css" rel="stylesheet" media="screen">
    <link href="/static/bootstrap/css/styles/alert-blackgloss.css" rel="stylesheet" media="screen">
    <link href="/static/bootstrap/css/bootstrap-switch.css" rel="stylesheet" media="screen">
    <link href="/static/bootstrap/css/bootstrap-wysihtml5.css" rel="stylesheet" media="screen">
    <link href="/static/bootstrap/css/main.css" rel="stylesheet" media="screen">

</head>
<body>

<div class='notifications top-right'></div>

{% block content_html %}

    {% block content %}

    {% endblock %}

{% endblock %}

<script type="text/javascript">
    var errors = null
    {% if errors %}
        errors = ['{{ errors|join:"','" }}'];
    {% endif %}
    var success = null
    {% if success %}
        success = ['{{ success|join:"','" }}'];
    {% endif %}
</script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/bootstrap/js/bootstrap-lightbox.min.js"></script>
<script src="/static/bootstrap/js/prettify.js"></script>
<script src="/static/bootstrap/js/bootstrap-notify.js"></script>
<script src="/static/bootstrap/js/bootstrap-switch.min.js"></script>
<script src="/static/bootstrap/js/bootstrap-datetimepicker.js"></script>
<script src="/static/bootstrap/js/wysihtml5-0.3.0.js"></script>
<script src="/static/bootstrap/js/bootstrap-wysihtml5-0.0.2.js"></script>
<script src="/static/bootstrap/js/jquery.validate.js"></script>
<script src="/static/bootstrap/js/jquery.validate.bootstrap.js"></script>
<script src="/static/bootstrap/js/uploads.js"></script>
<script src="/static/bootstrap/js/main.js"></script>
</body>
</html>