{% extends 'base.html' %}
{% load site_tags %}

{% block js %}

    <script src="/static/jui/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/static/bootstrap/js/duties.js"></script>
    <script src="/static/bootstrap/js/staff.js"></script>
    <script src="/static/bootstrap/js/user.js"></script>

{% endblock %}

{% block content %}
    <div class="well well-small">
        <div class="pull-left">
            <a href="#" id="add_duty" class="btn btn-small btn-primary"><i class="icon-folder-close icon-white"></i> Создать должность</a>
            <a href="#" id="add_staff" class="btn btn-small btn-primary"><i class="icon-user icon-white"></i> Создать служещего</a>
            <a href="#" id="add_user" class="btn btn-small btn-primary"><i class="icon-asterisk icon-white"></i> Создать пользователя</a>
            <a href="#" id="add_staff_user" class="disabled btn btn-small btn-primary"><i class="icon-ok icon-white"></i> Назначить на должность</a>
        </div>

        <div class="pull-right">
            <input name="date" value="{% include 'site/date.html' %}" type="text" class="date_picer" />
        </div>

        <div class="clearfix"></div>

    </div>

    <div class="row-fluid">

        <div class="span4">
            <h5 class="text-center">Должность</h5>
            {% include 'user/tree_duty.html' %}
        </div>
        <div class="span4">
            <h5 class="text-center">Сотрудники ФИО</h5>
            <ul id="staff_list" class="list">
                {% if staffs %}
                    {% for staff in staffs %}
                        <li id="staff-{{ staff.id }}"><i class="icon-user"></i> {{ staff.surname }} {{ staff.name }} {{ staff.patronymic }}</li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
        <div class="span4">
            <h5 class="text-center">Пользователи</h5>
            <ul id="user_list" class="list">

            </ul>
        </div>

    </div>


{% endblock %}